body
    margin-left: 0
        
.simple_slide_menu
    &__nav
        background-color: #606060
        box-shadow: inset -2px 0px 20px 0px rgba(51, 51, 51, 0.8)
        display: flex
        flex-direction: column
        visibility: hidden
        width: 350px
        height: 100vh
        padding: 1.5rem
        position: fixed
        top: 0
        left: -350px
        z-index: 6
        @media screen and (max-width: 604px)
            width: 220px
            left: -220px            

    &__open
        visibility: visible
        left: 0
        transition: 0.8s

    &__close
        visibility: visible
        left: -350px
        transition: 0.6s
        @media screen and (max-width: 604px)
            margin-left: -220px

    &__body_overlay
        display: none

    &__body_on_close
        margin-left: 0
        transition: 0.5s

    &__body_on_open
        margin-left: 350px
        overflow: hidden
        position: fixed
        width: 100%
        height: 100%
        transition: 0.8s
        @media screen and (max-width: 604px)
            margin-left: 220px

        .simple_slide_menu__body_overlay
            display: block
            width: 100%
            height: 100%
            top: 0
            position: absolute

        .simple_slide_menu__trigger
            position: absolute
            z-index: 6